<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>运输计划支出费用</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all" />
    <link rel="stylesheet" th:href="@{/static/admin/css/list.css}" media="all" />
</head>
<body class="childrenBody">
<fieldset class="layui-elem-field">
    <legend>选项检索</legend>
    <div class="layui-field-box">
        <form class="layui-form">
           
            <div class="layui-inline">
                <input type="text" value="" name="s_code" placeholder="系统单号" class="layui-input search_input">
            </div>
      
            <div class="layui-input-inline">
                <a class="layui-btn" lay-submit="" lay-filter="searchForm">查询</a>
            </div>
        
             <div class="layui-input-inline">
                <input type="checkbox" name="s_continuity" id="continuity" lay-skin="switch" lay-text="连续录出|关闭" >
            </div>
        </form>
    </div>
</fieldset>
<script type="text/html" id="toolbarDemo">
       <div class="layui-col-md2 layui-col-sm3 layui-col-xs6" style="text-align: left;padding-left: 10px;">
            <div class="layui-input-inline yutons-btn-margin-right">
               <span class="layui-btn yutons layui-btn-sm yutons-color-detail" lay-event="table_export">导出全部</span>
            </div>
        </div>
</script>
<div class="layui-form users_list">
    </script>
    <table class="layui-table" id="dispatchCost-table" lay-filter="dispatchCostList"></table>
    <script type="text/html" id="dispatchCostBar">
   
    <shiro:hasPermission name="deliver:dispatchCost:edit">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    </shiro:hasPermission>
  </script>
</div>
<div id="page"></div>
<div id ="show" hidden="hidden">
  

</div>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/tools.js}"></script>
<script type="text/javascript" th:src="@{/static/deliver/js/dispatch/dispatchCostList.js}"></script>
</body>
</html>