<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>路单修改--路单管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all" />
    <style type="text/css">
        .layui-form-item .layui-inline{ min-width:15%; float:left; margin-right:0 }
        .layui-form-item .wayBill-box {
            position: relative;
        }
    </style>
</head>
<body class="childrenBody">
<form class="layui-form">
   <input name="id" id="wayBillId" type="hidden" th:value="${wayBill.id}">
  <div class="layui-form-item">
        <fieldset class="layui-elem-field layui-field-title" style="margin-left: 10px;">
            <legend>运输计划列表</legend>
        </fieldset>
 </div>      
 <div class="layui-form-item">
    <section class="layui-col-md10" style="margin: 0 auto; float: none">
    <div class="layui-card">
        <div class="layui-card-body layui-text">
           
            <div id="dispatchTableRes" class="table-overlay">
                <table id="dispatchTable"  lay-data="{id: 'dispatchTable'}" lay-filter="dispatchTable" class="layui-table"></table>
               
            </div>

        </div>
    </div>
    </section>
 </div>
 <div class="layui-form-item">
        <fieldset class="layui-elem-field layui-field-title" style="margin-left: 10px;">
            <legend>单据列表</legend>
        </fieldset>
 </div>      
 <div class="layui-form-item">
    <section class="layui-col-md10" style="margin: 0 auto; float: none">
    <div class="layui-card">
        <div class="layui-card-body layui-text">
           
            <div id="billTableRes" class="table-overlay">
                <table id="billTable"  lay-data="{id: 'billTable'}" lay-filter="billTable" class="layui-table"></table>
                    <script type="text/html" id="billBar">
                        <shiro:hasPermission name="stock:handleAbnormity:add">
                        {{# if (d.isExistHandleAbnormity==1){ }}
                             {{# if (d.type==2||d.type==4){ }}<!--库存单据生成异常之后走退单 -->
                        <a class="layui-btn layui-btn-xs" lay-event="handleAbnormity">异常</a>
                             {{# } }}
                        {{# } }}
                        </shiro:hasPermission>
                         {{# if (d.isExistHandleAbnormity==0){ }}
                        <a class="layui-btn layui-btn-xs" lay-event="lookAbnormity">查看</a>
                        {{# } }}
                        <shiro:hasPermission name="stock:handleAbnormity:edit">
                        {{# if (d.isExistHandleAbnormity==0){ }}
                            {{# if (d.handleAbnormity.auditStatus == 0){ }}
                            <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="editAbnormity">审核</a>
                            {{# } }}
                        {{# } }}
                        </shiro:hasPermission>
                        <shiro:hasPermission name="stock:handleAbnormity:back">
                        {{# if (d.isExistHandleAbnormity==0){ }}
                            {{# if (d.handleAbnormity.auditStatus == 1){ }}
                        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="back">退回异常</a>
                            {{# } }}
                        {{# } }}
                        </shiro:hasPermission>
                        <shiro:hasPermission name="stock:handleAbnormity:delete">
                        {{# if (d.isExistHandleAbnormity==0){ }}
                            {{# if (d.handleAbnormity.auditStatus == 0){ }}
                            <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
                            {{# } }}
                        {{# } }}
                        </shiro:hasPermission>
                    </script>
            </div>

        </div>
    </div>
    </section>
 </div>
        
    <div class="layui-form-item">
        <fieldset class="layui-elem-field layui-field-title"  style="margin-top: 30px;margin-left: 10px;">
            <legend>备注</legend>
        </fieldset>
    </div>
    <div class="layui-form-item layui-form-text">
        <div class="layui-input-block" style="width: 80%">
            <textarea placeholder="备注(不超过200字)" name="remarks" th:text="${wayBill.remarks}" class="layui-textarea"></textarea>
        </div>
    </div>
  <input type="hidden" id="areaName" name="areaName">
    <shiro:hasPermission name="deliver:wayBill:edit">
    <div class="layui-form-item" style="padding-left: 30%;">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="editwaybill">确认修改</button>
            <button class="layui-btn layui-btn-primary">放弃修改</button>
        </div>
    </div>
    </shiro:hasPermission>
</form>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/deliver/js/wayBill/wayBillEdit.js}"></script>
</body>
</html>