<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzhpo.deliver.mapper.DispactAddressMapper">
	<select id="getDispactWaitForDeliverBill" resultType="com.lzhpo.deliver.entity.DispactAddress" parameterType="map">
		SELECT
			*
		FROM
			(
				SELECT
					*
				FROM
					deliver_dispact_address
				WHERE
					(
						dispacth_id IS NULL
						OR dispacth_id = ''
					)
				AND table_id IN (
					SELECT
						id
					FROM
						deliver_express_bill
					WHERE
						(
							(
								split = 1
								AND scheduling_status = 0
								AND STATUS = 2 /* 正常单据*/
							)
							OR (
								split = 1
								AND scheduling_status = 1
								AND STATUS = 3 /* 排过单据得余下单据*/
							)
						)
					AND del_flag = 0
				)
				UNION ALL
					SELECT
						id,
						receive_name,
						`code`,
						CODE,
						NULL,
						receive_province_id,
						receive_city_id,
						receive_area_id,
						receive_detail_area,
						deliver_bill_time,
						1,
						id,
						NULL,
						NULL,
						number,
						volume,
						weight,
						create_date,
						create_by,
						update_date,
						update_by,
						remarks,
						del_flag
					FROM
						deliver_express_bill
					WHERE
						split IS NULL
					AND scheduling_status = 0
					AND STATUS = 2
					AND del_flag = 0
					ORDER BY
						client_code DESC,
						CODE ASC
			) a
			<where>
				1=1
				<if test="waitedList!=null">
					and 
			            a.id not in
			            <foreach close=")" collection="waitedList" item="wait" open="(" separator=",">
			                #{wait}
			            </foreach>
			       
				</if>
					<if test="code != null and code != ''">  
	               and code like CONCAT('%','${code}','%' )  
	            </if>
	            <if test="clientName != null and clientName != '' ">  
	               and client_name like CONCAT('%','${clientName}','%' )  
	            </if> 
	            <if test="startTime != null and startTime != '' ">  
	                <![CDATA[  and dispatch_time >= '${startTime}' ]]>
	            </if>
	             <if test="overTime != null and overTime != '' ">  
	                <![CDATA[  and dispatch_time <= '${overTime}' ]]>
	            </if>
	            <if test="clientCode != null and clientCode != '' ">  
	               and  client_code like CONCAT('%','${clientCode}','%' )  
	            </if>       
		 	</where>
	</select>
	
	<select id="getDispactWaitForTakoutBill" resultType="com.lzhpo.deliver.entity.DispactAddress" parameterType="map">
	SELECT
	*
		FROM
			(
				SELECT
					*
				FROM
					deliver_dispact_address
				WHERE
					(
						dispacth_id IS NULL
						OR dispacth_id = ''
					)
				AND table_id IN (
					SELECT
						id
					FROM
						stock_takeout
					WHERE
						(
							(
								split = 1
								AND scheduling_status = 0
								AND STATUS = 2 /* 正常单据*/
							)
							OR (
								split = 1
								AND scheduling_status = 1
								AND STATUS = 3 /* 排过单据得余下单据*/
							)
						)
					AND del_flag = 0
				)
				UNION ALL
					SELECT
						t.id,
						cb.client_short_name,
						t.CODE,
						t.client_code,
						
						NULL,
						ad.province_id,
						ad.city_id,
						ad.counties_id,
						ad.address_name,
						t.delivery_time,
						2,
						t.id,
						NULL,
						NULL,
						number,
						t.volume,
						t.weight,
						t.create_date,
						t.create_by,
						t.update_date,
						t.update_by,
						t.remarks,
						t.del_flag
					FROM
						stock_takeout t
					LEFT JOIN deliver_address ad ON t.address_id = ad.id
					LEFT JOIN client_basicdata cb ON t.client_id = cb.id
					WHERE
						t.split IS NULL
					AND t.scheduling_status = 0
					AND (t. STATUS = 2 or (t.picking_status!=0 and t.STATUS=3))
					AND t.del_flag = 0
					ORDER BY
						client_code DESC,
						CODE ASC
			) a
			where 
			1=1
				<if test="waitedList!=null">
					and 
			            a.id not in
			            <foreach close=")" collection="waitedList" item="wait" open="(" separator=",">
			                #{wait}
			            </foreach>
			       
				</if>
			<if test="code != null and code != ''">  
	               and code like CONCAT('%','${code}','%' )  
	            </if>
	            <if test="clientName != null and clientName != '' ">  
	               and client_name like CONCAT('%','${clientName}','%' )  
	            </if> 
	            <if test="startTime != null and startTime != '' ">  
	                <![CDATA[  and dispatch_time >= '${startTime}' ]]>
	            </if>
	             <if test="overTime != null and overTime != '' ">  
	                <![CDATA[  and dispatch_time <= '${overTime}' ]]>
	            </if>
	            <if test="clientCode != null and clientCode != '' ">  
	               and  client_code like CONCAT('%','${clientCode}','%' )  
	            </if> 
	</select>
	
	<select id="getDispactAddressByBillId" resultType="com.lzhpo.deliver.entity.DispactAddress"  parameterType="java.lang.String">
		SELECT
			*
		FROM
			(
				SELECT
					*
				FROM
					deliver_dispact_address
				WHERE
					(
						dispacth_id IS NULL
						OR dispacth_id = ''
					)
				AND table_id IN (
					SELECT
						id
					FROM
						deliver_express_bill
					WHERE
						(
							(
								split = 1
								AND scheduling_status = 0
								AND STATUS = 2 /* 正常单据*/
							)
							OR (
								split = 1
								AND scheduling_status = 1
								AND STATUS = 3 /* 排过单据得余下单据*/
							)
						)
					AND del_flag = 0
				)
				UNION ALL
					SELECT
						id,
						receive_name,
						`code`,
						CODE,
						NULL,
						receive_province_id,
						receive_city_id,
						receive_area_id,
						receive_detail_area,
						deliver_bill_time,
						1,
						id,
						NULL,
						NULL,
						number,
						volume,
						weight,
						create_date,
						create_by,
						update_date,
						update_by,
						remarks,
						del_flag
					FROM
						deliver_express_bill
					WHERE
						split IS NULL
					AND scheduling_status = 0
					AND STATUS = 2
					AND del_flag = 0
					ORDER BY
						client_code DESC,
						CODE ASC
			) a
			where id = #{id}
	</select>
	<select id="getDispactAddressByTakoutId" resultType="com.lzhpo.deliver.entity.DispactAddress"  parameterType="java.lang.String">
		SELECT
	*
		FROM
			(
				SELECT
					*
				FROM
					deliver_dispact_address
				WHERE
					(
						dispacth_id IS NULL
						OR dispacth_id = ''
					)
				AND table_id IN (
					SELECT
						id
					FROM
						stock_takeout
					WHERE
						(
							(
								split = 1
								AND scheduling_status = 0
								AND STATUS = 2 /* 正常单据*/
							)
							OR (
								split = 1
								AND scheduling_status = 1
								AND STATUS = 3 /* 排过单据得余下单据*/
							)
						)
					AND del_flag = 0
				)
				UNION ALL
					SELECT
						t.id,
						cb.client_short_name,
						t.CODE,
						t.client_code,
						
						NULL,
						ad.province_id,
						ad.city_id,
						ad.counties_id,
						ad.address_name,
						t.delivery_time,
						2,
						t.id,
						NULL,
						NULL,
						number,
						t.volume,
						t.weight,
						t.create_date,
						t.create_by,
						t.update_date,
						t.update_by,
						t.remarks,
						t.del_flag
					FROM
						stock_takeout t
					LEFT JOIN deliver_address ad ON t.address_id = ad.id
					LEFT JOIN client_basicdata cb ON t.client_id = cb.id
					WHERE
						t.split IS NULL
					AND t.scheduling_status = 0
					AND t. STATUS = 2
					AND t.del_flag = 0
					ORDER BY
						client_code DESC,
						CODE ASC
			) a
			where id = #{id}
	</select>
	
	
	
	<select id="getDispactAddressByBillCode" resultType="com.lzhpo.deliver.entity.DispactAddress"  parameterType="java.lang.String">
		SELECT
			*
		FROM
			(
				SELECT
					*
				FROM
					deliver_dispact_address
				WHERE
					(
						dispacth_id IS NULL
						OR dispacth_id = ''
					)
				AND table_id IN (
					SELECT
						id
					FROM
						deliver_express_bill
					WHERE
						(
							(
								split = 1
								AND scheduling_status = 0
								AND STATUS = 2 /* 正常单据*/
							)
							OR (
								split = 1
								AND scheduling_status = 1
								AND STATUS = 3 /* 排过单据得余下单据*/
							)
						)
					AND del_flag = 0
				)
				UNION ALL
					SELECT
						id,
						receive_name,
						`code`,
						CODE,
						NULL,
						receive_province_id,
						receive_city_id,
						receive_area_id,
						receive_detail_area,
						deliver_bill_time,
						1,
						id,
						NULL,
						NULL,
						number,
						volume,
						weight,
						create_date,
						create_by,
						update_date,
						update_by,
						remarks,
						del_flag
					FROM
						deliver_express_bill
					WHERE
						split IS NULL
					AND scheduling_status = 0
					AND STATUS = 2
					AND del_flag = 0
					ORDER BY
						client_code DESC,
						CODE ASC
			) a
			where code = #{code}
	</select>
</mapper>
