<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>新增品项--品项管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all" />
    <style type="text/css">
        .layui-form-item .layui-inline{ min-width:15%; float:left; margin-right:0; }
        .layui-form-item .clientitem-box {
            position: relative;
        }
    </style>
</head>
<body class="childrenBody">

<form class="layui-form">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">客户</label>
            <div class="layui-input-block">
                <select name="clientId"  class="form-control1" lay-verify="" lay-search>
                    <option value="">请选择客户</option>
                    <option th:each="basic:${basicDatas}" th:value="${basic.id}" lay-verify="required" th:text="${basic.clientShortName}"></option>
                </select>
            </div>  
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">编号</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="code" lay-verify="required" placeholder="请输入编号">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">品名</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="name" lay-verify="required" placeholder="请输入品名">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">类别</label>
            <div class="layui-input-block">
                 <select name="category"  class="form-control1" lay-verify="" lay-search>
                    <option value="">请选择类别(非必填)</option>
                    <option th:each="category:${categorys}" th:value="${category.name}" lay-verify="required" th:text="${category.name}"></option>
                </select>
            </div>
        </div>
    </div>
   <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">品牌</label>
            <div class="layui-input-block">
                <select name="brand"  class="form-control1" lay-verify="" lay-search>
                    <option value="">请选择品牌(非必填)</option>
                    <option th:each="brand:${brands}" th:value="${brand.name}" th:text="${brand.name}"></option>
                </select>
            </div>  
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">长度(CM)</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="itemLength" lay-verify="required|number" placeholder="请输入长度">
            </div>
        </div>
        <div class="layui-inline">
           <label class="layui-form-label">宽度(CM)</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="itemWidth" lay-verify="required|number" placeholder="请输入宽度">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">高度(CM)</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="itemHeight" lay-verify="required|number" placeholder="请输入高度">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">重量(KG)</label>
             <div class="layui-input-block">
                <input type="text" class="layui-input" name="itemWeight" lay-verify="required|number" placeholder="请输入重量">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">单位（整）</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="unitWhole" lay-verify="required" placeholder="请输入">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">单位（零）</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="unitScattered" lay-verify="required" placeholder="请输入">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">件/托</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="tray" lay-verify="number" placeholder="请输入(非必填)">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">换算率</label>
             <div class="layui-input-block">
                <input type="text" class="layui-input" name="unitRate" lay-verify="required|number" placeholder="请输入换算率">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">保质天数</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="day" lay-verify="required|number" placeholder="请输入保质天数">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;margin-left: 10px;">
            <legend>备注</legend>
        </fieldset>
    </div>
    <div class="layui-form-item layui-form-text">
        <div class="layui-input-block" style="width: 80%">
            <textarea placeholder="备注(不超过200字)" name="remarks" class="layui-textarea"></textarea>
        </div>
    </div>
    <shiro:hasPermission name="item:clientitem:add">
    <div class="layui-form-item" style="padding-left: 30%;">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="addclientitem">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
    </shiro:hasPermission>
</form>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/material/item/js/clientitem/clientitemAdd.js}"></script>
</body>
</html>