<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzhpo.stock.mapper.LineTakeoutMapper">
		<select id="selectAllByDispatchIds" resultType="com.lzhpo.stock.entity.LineTakeout" parameterType="java.util.Set">
		SELECT
			client_id,
			client_name,
			sum(ifnull(volume, 0)) AS volume,
			sum(ifnull(weight,0)) AS weight,
			sum(ifnull(money,0)) AS money,
			sum(ifnull(total,0)) AS total,
		  	sum(ifnull(number,0)) AS number,
		  	sum(ifnull(scattered_num,0)) AS scattered_num,
			transportation_type,
			address_id,
			client_id
		FROM
			stock_line_takeout 
		    where id in
		    <foreach collection="takeoutIds" item="id" index="index" open="(" close=")" separator=",">
			  #{id}
			</foreach>
		GROUP BY
			client_id,
			delivery_time,
			transportation_type,
	address_id
	</select>
</mapper>
