<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

    <meta charset="utf-8">
    <title>回单列表--回单管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel = "shortcut icon" href="${site.logo}">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all" />
    <link rel="stylesheet" th:href="@{/static/admin/css/list.css}" media="all" />
</head>
<body class="childrenBody">
<fieldset class="layui-elem-field">
    <legend>用户检索</legend>
    <div class="layui-field-box">
        <form class="layui-form">
            <div class="layui-inline" style="width: 15%">
                <input type="text" value="" name="s_key" placeholder="客户单号" class="layui-input search_input">
            </div>
            <div class="layui-inline">
                <a class="layui-btn" lay-submit="" lay-filter="searchForm">查询</a>
            </div>
        </form>
    </div>
</fieldset>
<div class="layui-form handleAbnormitys_list">
    <table class="layui-table" id="handleAbnormityTable" lay-filter="handleAbnormityList"></table>
    <script type="text/html" id="handleAbnormityBar">
                        <a class="layui-btn layui-btn-xs" lay-event="lookAbnormity">查看</a>
                        <shiro:hasPermission name="stock:handleAbnormity:edit">
                            {{# if (d.auditStatus == 0){ }}
                            <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="editAbnormity">审核</a>
                            {{# } }}
                        </shiro:hasPermission>
                        {{# if (d.auditStatus == 1){ }}
                        <shiro:hasPermission name="stock:handleAbnormity:back">
                        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="back">退回异常</a>
                        </shiro:hasPermission>
                        <!-- 多项直退 和 少项直退 -->
                        {{# if (d.status == 0){ }}
                        <shiro:hasPermission name="stock:directReturn:add">
                        <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="moreBack">多项直退</a>
                        <a class="layui-btn layui-btn-xs"  lay-event="littleBack">少项直退</a>
                        </shiro:hasPermission>
                          {{# } }}
                        {{# } }}
                        <shiro:hasPermission name="stock:handleAbnormity:delete">
                            {{# if (d.auditStatus == 0){ }}
                            <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
                            {{# } }}
                        </shiro:hasPermission>
    </script>
</div>
<div id="page"></div>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/tools.js}"></script>
<script type="text/javascript" th:src="@{/static/stock/js/handleAbnormity/handleAbnormityList.js}"></script>
</body>
</html>