<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>实时库存</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all" />
    <link rel="stylesheet" th:href="@{/static/admin/css/list.css}" media="all" />
</head>
<body class="childrenBody">
<fieldset class="layui-elem-field">
    <legend>选项检索</legend>
    <div class="layui-field-box">
        <form class="layui-form">
            <div class="layui-inline">
                <select name="s_clientId" id="clientId" class="form-control1" lay-verify="" lay-filter="clientId" lay-search>
                    <option value="">请选择客户</option>
                    <option th:each="basic:${basicDatas}" th:value="${basic.id}" lay-verify="required" th:text="${basic.clientShortName}"></option>
                </select>
            </div>
            <div class="layui-inline">
                <input type="text" value="" name="s_itemCode" placeholder="物料编号" class="layui-input search_input">
            </div>
             <div class="layui-inline">
                <input type="radio" name="s_mode" value="1" title="详情" checked >
                <input type="radio" name="s_mode" value="2" title="忽略批次" >
                <input type="radio" name="s_mode" value="3" title="忽略状态" >
                <input type="radio" name="s_mode" value="4" title="忽略批次状态" >
            </div>
            <div class="layui-input-inline">
            <span class="layui-badge-dot layui-bg-green"></span>
             </div>
            <div class="layui-input-inline">
                <input type="radio" name="s_continuity" value="on" title="非0" checked >
                <input type="radio" name="s_continuity" value="off" title="全部" >
            </div>
            <div class="layui-input-inline">
                <a class="layui-btn" lay-submit="" lay-filter="searchForm">查询</a>
            </div>
        </form>
    </div>
</fieldset>
<script type="text/html" id="toolbarDemo">
       <div class="layui-col-md2 layui-col-sm3 layui-col-xs6" style="text-align: left;padding-left: 10px;">
            <div class="layui-input-inline yutons-btn-margin-right">
               <span class="layui-btn yutons layui-btn-sm yutons-color-detail" lay-event="table_export">导出全部</span>
            </div>
        </div>
</script>
<div class="layui-form users_list">
    <table class="layui-table" id="material-table"  lay-filter="materialList"></table>
    <script type="text/html" id="materialBar">
         <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="history">历史</a>
         <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="distribution">分布</a>
    </script>
</div>
<div id="page"></div>
<div id ="show" hidden="hidden">
  

</div>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/tools.js}"></script>
<script type="text/javascript" th:src="@{/static/stock/js/material/materialList.js}"></script>
</body>
</html>