<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>异常修改--异常管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all" />
    <style type="text/css">
        .layui-form-item .layui-inline{ min-width:15%; float:left; margin-right:0 }
        .layui-form-item .abnormity-box {
            position: relative;
        }
    </style>
</head>
<body class="childrenBody">
<form class="layui-form">
   <input name="id" type="hidden" th:value="${abnormity.id}">
   <div class="layui-form-item">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;margin-left: 10px;">
            <legend>异常归类(<span style="color:red">*</span>)</legend>
        </fieldset>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block" style="width: 80%">
             <select name="abnormityType"  class="form-control1" id="abnormityType" lay-filter="tray" lay-search>
                    <option value="">请选择</option>
                    <option th:each="basic:${abnormityList}" th:selected="${abnormity.abnormityType eq basic.value}" th:value="${basic.value}"  th:text="${basic.name}"></option>
             </select>
        </div>
    </div>
     <div class="layui-form-item">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;margin-left: 10px;">
            <legend>异常名称(<span style="color:red">*</span>)</legend>
        </fieldset>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block" style="width: 80%">
            <input type="text" class="layui-input" name="cause" th:value="${abnormity.cause}" style="margin-top: 30px;" lay-verify="required" placeholder="请输入异常名称">
        </div>
    </div>
        
    <div class="layui-form-item">
        <fieldset class="layui-elem-field layui-field-title"  style="margin-top: 30px;margin-left: 10px;">
            <legend>备注</legend>
        </fieldset>
    </div>
    <div class="layui-form-item layui-form-text">
        <div class="layui-input-block" style="width: 80%">
            <textarea placeholder="备注(不超过200字)" name="remarks" th:text="${abnormity.remarks}" class="layui-textarea"></textarea>
        </div>
    </div>

    <shiro:hasPermission name="client:abnormity:edit">
    <div class="layui-form-item" style="padding-left: 30%;">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="editabnormity">确认修改</button>
            <button class="layui-btn layui-btn-primary">放弃修改</button>
        </div>
    </div>
    </shiro:hasPermission>
</form>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/client/js/abnormity/abnormityEdit.js}"></script>
</body>
</html>